node_modules
dist
dist-ssr
*.local

# Environment files
.env
.env.*
!.env.example

# Logs

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
